{block content}
	<h1>Vítejte</h1>
	<p>Vítejte na stránkách Alena.cz, vašecm obchodu s pracovními oděvy.</p>

	<img src="{$basePath}/img/bajcovna-homepage.jpg" class="photo-center photo-frame">




{/block}

{block scripts}


{/block}