{block content}
    <img src="{$basePath}/content/photo/{$item->id}.small.jpg" class="pull-right" style="height: 150px"/> <br />

    <h1>Fotky</h1>
    <h2 n:block=title>Upravit popis fotky {if $item->goods}<small>{$item->goods->name}</small>{/if}</h2>


    {control descriptionForm}

    <hr />
    <a n:href="default" class="btn btn-default pull-right">Zrušit</a>
    <a n:href="default" class="btn btn-default pull-right">Odejít</a>


{/block}