<!DOCTYPE html>
{**
* @param string   $basePath web base path
* @param array    $flashes  flash messages
*}
<html lang="cs" xmlns:n="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">

    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Výroba a prodej pracovních oděvů, obuvi a ochranných pracovních pomůcek.">
	<meta name="keywords" content="prodej, výroba, pracovní oděvy, obuv, OPP, alena, Kolín, Benešov, Vlašim, Říčany">
	<meta name="author" content="Alena Seidlová-Randová">

	<!-- FACEBOOK -->
	<meta property="og:image" content="http://alena.cz/img/loga/alena.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="299">
	<meta property="og:image:height" content="104">
	<meta property="og:url" content="http://alena.cz">
	<meta property="og:title" content="Pracovní oděvy a ochranné pomůcky Alena">
	<meta property="og:description" content="Ryze česká rodinná firma Aleny Seidlové Randové založená v roce 1993 zabývající se výrobou a prodejem širokého sortimentu jak pracovních oděvů, tak oděvů pro volný čas, dále pak ochranných pomůcek a obuvi.">

	<title>{ifset title}{include title|striptags} | {/ifset}Alena</title>

    {block scripts}
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="{$basePath}/js/jquery-1.11.3.min.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>

    <script src="{$basePath}/js/netteForms.min.js"></script>

    {/block}

	<!-- Bootstrap Core CSS -->
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">

	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Wellfleet&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<!-- Own CSS -->
	<link href="{$basePath}/css/front.css?v=20160506" rel="stylesheet">

	{block style}{/block}

</head>

<body>

	<div class="container-fluid main-container">
		<div class="container">

		<div id="main-content">
			<!-- Static navbar -->

			{block jumbotron}
				<!-- Main component for a primary marketing message or call to action -->
				<div class="container jumbotron-orange">
					<br />
					<img src="{$basePath}/vectors/alena-logo.svg" style="height:3em" />
					<p class="motto">Alena Seidlová Randová – pracovní oděvy</p>
				</div>
			{/block}

			<div class="top-menu container">
				<a n:href="Homepage:default">Domů</a>
				<a n:href="Article:show 1">O nás</a>
				<a n:href="Catalog:default#maincontent">Katalog</a>
				<a n:href="Sale:default" class="sale-nav-link">Akce</a>
				<a n:href="Article:show 3">Kontakt</a>
			</div>
			<div class="clearfix"></div>
			<a name="maincontent"></a>
			<div class="container main-content">
				{block content}{/block}
			</div>

		</div>
	    <div class="clearfix"></div>
	</div>
</div>

<!-- Footer -->
<footer>
    <div class="container">
		<div class="col-lg-12 partners">
			<img src="{$basePath}/img/loga/adler.png" />
			<img src="{$basePath}/img/loga/cerva.png" />
			<img src="{$basePath}/img/loga/deltaplus.png" />
			<img src="{$basePath}/img/loga/demar.png" />
			<img src="{$basePath}/img/loga/dunlop.png" />
			<img src="{$basePath}/img/loga/elutex.png" />
			<img src="{$basePath}/img/loga/industrial_starter.png" />
			<img src="{$basePath}/img/loga/lemaitre.png" />
			<img src="{$basePath}/img/loga/moleda.png" />
			<img src="{$basePath}/img/loga/novesta.png" />
			<img src="{$basePath}/img/loga/repa.png" />
			<img src="{$basePath}/img/loga/sante.png" />
			<img src="{$basePath}/img/loga/tipaboty.png" />
			<img src="{$basePath}/img/loga/wm.png" />
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-xs-12">
					<p>
						Ing. Alena Seidlová Randová<br />
						Struhařov 49
					</p>
					<p>alena.cz, randova.cz</p>
				</div>
				<div class="col-lg-6 col-xs-12">
					<p>
						<a href="mailto:aseidlova@randova.cz"><i class="glyphicon glyphicon-envelope"></i> aseidlova@randova.cz</a>
					</p>
					<p>
						<a href="tel:+420603536385" title="Ing. Alena Seidlová Randová"><i class="glyphicon glyphicon-phone-alt"></i> 603 536 385</a>
					</p>
				</div>
			</div>
		</div>
    </div>
</footer>



<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64832350-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>