/* ---------------------------------------
 * Alena design
 */

body {
    background-image: url('../img/noisy-texture-black-blue.png');
}

.menu {
    background: #C82;
}

.menu-item {
    background-color: #003366;
    transition: background-color 2s;
}

.menu-item:hover {
    background-color: white;
}

#main-content {
    margin-top: 50px;
}

footer {
    height: 60px;
    color: #999;
    background-image: url('../img/noisy-texture-black-blue.png');
}

.jumbotron-orange {
    background-image: url('../img/bajcovna.png');
    background-color: #F4F0EE;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    padding: 20px 20px;
    margin-bottom: -5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3), 0 -50px 100px 20px rgba(0,0,0,0.3);
    color: black;
}

.wrapper {
    height: 50vh;
    min-height: 80px;
    margin-bottom: -60px;
    background: url('../img/noisy-texture-white-orange.png');
}

.main-container {
    background: #C63 url('../img/noisy-texture-white-orange.png');
    padding-bottom: 40px;
}

.main-content {
    background-color: white;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.1);
}


footer .partners {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #DDD;
}

li {
    list-style: none;
}

.goods-item {
    height: 200px;
    background-size: cover;
    background-position: top left;
    backgrond-color: #DDD;
    opacity: 0.9;
    transition: opacity 0.3s, background-position 3s;
}

.goods-item:hover {
    opacity: 1.0;
    background-position: bottom right;
}

.goods-name {
    position: absolute;
    bottom: 0px;
    background: rgba(255,255,255,0.5);
    width: 100%;
    text-align: right;
    border-bottom: 2px solid green;
    color: #003313;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0px -1px 0px rgba(255, 255, 255, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.2);
    transition: border 0.3s, background 0.15s, padding 0.2s;
    margin-left: -15px;
    padding-right: 5px;
}

.recomended-item .goods-name {
    background: rgba(255,200,0,0.7);
}

.goods-name:hover {
    background: rgba(255, 248, 244, 0.5);
    border-bottom: 2px solid #FFAA00;
    padding-top: 4px;
    padding-bottom: 2px;
    text-decoration: none;
    color: black;
}

.recomended-item .goods-name:hover {
    background: rgba(255,205,15,0.7);
}


.good-description {
    padding-top: 10px;
    padding-bottom: 10px;
}


.photo-center {
    width: 80%;
    min-width: 150px;
    max-height: 800px;
    margin: 10px 10%;
}

.photo-frame {
    border: 6px solid white;
    box-shadow: 0 0 1px rgba(88,88,99,0.4);
}

h1 {
    font-weight: 100;
    font-size: 40px;
    color: black;
}

.jumbotron-orange h1 {
    text-shadow: -1px -1px 0 #F2EDEC;
}

a {
    color:green;
}

.top-menu {
    background: white;
    margin-bottom: 1em;
    padding: 8px 10px 8px 10px;
    border-bottom: 2px solid green;
}

.top-menu a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid green;
    transition: border 0.3s, background 0.15s;
}

.top-menu a:hover {
    background: #FFF9F5;
    border-bottom:2px solid #FFAA00;
    text-decoration: none;
    color: darkgreen;
}

.side-menu {
    max-height: 100vh;
    overflow: auto;
    padding: 10px 0 10px 0;
}

.goods-items {
    max-height: 100vh;
    overflow: auto;
    padding-bottom: 10px;

}

.categories ul, .manufacturers ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.categories ul ul, .manufacturers ul ul {
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 5px 5px;
}

.categories li.active, .manufacturers li.active {
    background: #EEE;
}
.categories .subcategory li.active a {
    color: black;
}
