/* ---------------------------------------
 * Alena design
 */

body {
    background-image: url('../img/noisy-texture-black-blue.png');
}

.menu {
    background: #C82;
}

.menu-item {
    background-color: #003366;
    transition: background-color 2s;
}

.menu-item:hover {
    background-color: white;
}

#main-content {
    margin-top: 50px;
}

footer {
    height: 60px;
    color: #999;
    background-image: url('../img/noisy-texture-black-blue.png');
}

footer a {
    color: #BBB;
}

footer a:hover {
    color: #BBB;
}

.jumbotron-orange {
    background-image: url('../img/bajcovna.png');
    background-color: #F4F0EE;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    padding: 20px 20px;
    margin-bottom: -5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3), 0 -50px 100px 20px rgba(0,0,0,0.3);
    color: black;
}

.wrapper {
    height: 50vh;
    min-height: 80px;
    margin-bottom: -60px;
    background: url('../img/noisy-texture-white-orange.png');
}

.main-container {
    /*background-color: #C63;*/
    background-image: url('../img/canvas_bg.jpg');
    background-repeat: repeat;
    background-attachment:fixed;
    background-size: 200px 200px;
    padding-bottom: 40px;
}

.main-content {
    background-color: white;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.1);
}


footer .partners {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #DDD;
}
footer .partners img {
    height: 47px;
    margin: 5px 3px 8px 3px;
}

li {
    list-style: none;
}

.goods-item, .goods-similar-item {
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    backgrond-color: #DDD;
    opacity: 0.9;
    transition: opacity 0.3s, background-position 3s;
    border: 1px solid #DDD;
}
.goods-similar-item {
    height: 100px;
}

.goods-similar-name {
    overflow: hidden;
}

.goods-name {
    position: absolute;
    bottom: 1px; left: 16px;
    background: rgba(255,255,255,1);
    text-align: right;
    border-bottom: 2px solid green;
    color: #003313;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0px -1px 0px rgba(255, 255, 255, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.2);
    transition: border 0.3s, background 0.15s, padding 0.2s;
    padding-right: 5px;
}
.goods-info {
    position: absolute;
    bottom: 1px;
    right: 18px;
    text-align: right;
    font-size: 18px;
}
.goods-info .glyphicon-star{
    color: #DD0000;
    text-shadow: 2px 2px 1px #DDDD00, -2px -2px 1px #DDDD00;
}

.goods-info .glyphicon-thumbs-up {
    color: royalblue;
    text-shadow: -1px 0px 1px white, 1px 0px 1px white, 0px -1px 1px white, 0px 1px 1px white, -1px -1px 1px white, 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white;
}

.recommended-item .goods-name {
    background: rgba(255,200,0,0.7);
}

.goods-name:hover {
    background: rgba(255, 248, 244, 1);
    border-bottom: 2px solid #FFAA00;
    padding-top: 4px;
    padding-bottom: 2px;
    text-decoration: none;
    color: black;
}

.recommended-item .goods-name:hover {
    background: rgba(255,205,15,0.7);
}


.good-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.goods-similar {
    background: #F0F0F0;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 15px;
    box-shadow: inset 0 5px 5px -5px silver;
}

.good-photo-name {
    font-size: smaller;
    font-weight: bold;
    color:#333;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 8px;
}

.goods-item .flags .flag {
    display: inline-block;
    margin: 3px 3px 3px -4px;
    padding: 0px 5px 0px 5px ;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: smaller;
    border-radius: 0px 1px 1px 0;
}
.goods-item .flags .new-item {
    background: red;
    color: white;
    box-shadow: 3px 0px 3px rgba(255,0,0,1);
    border-left: 3px solid darkred;
}

.goods-item .flags .clearance-sale-item {
    background: orangered;
    color: white;
    box-shadow: 3px 0px 3px orangered;
    border-left: 3px solid #b33000;
}


.photo-center {
    width: 80%;
    min-width: 150px;
    max-height: 800px;
    margin: 10px 10%;
}

.photo-frame {
    border: 6px solid white;
    box-shadow: 0 0 1px rgba(88,88,99,0.4);
}

h1 {
    font-weight: 100;
    font-size: 40px;
    color: black;
}

.jumbotron-orange h1 {
    text-shadow: -1px -1px 0 #F2EDEC;
}

h2 {
    font-weight: 200;
    font-size: 24px;
    color: black;
}

h3 {
    font-weight: 200;
    font-size: 20px;
    color: black;
}

a {
    color:royalblue;
}

.top-menu {
    background: white;
    margin-bottom: 1em;
    padding: 8px 10px 8px 10px;
    border-bottom: 2px solid royalblue;
}

.top-menu a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid transparent;
    transition: border 0.3s, background 0.15s;
}

@media (max-width: 768px) {
    .top-menu a {
        line-height: 40px;
    }
    .top-menu .sale-nav-link {
        border-bottom: none;
    }
}

.top-menu a:hover {
    background: #FFFFF5;
    border-bottom:2px solid #FFFF00;
    text-decoration: none;
    color: darkblue;
}

.side-menu {
    max-height: 100vh;
    overflow: auto;
    padding: 10px 0 10px 0;
    background: #FFFDD3;
    margin-left: -15px;
    padding-left: 15px;
}

.goods-items {
    max-height: 100vh;
    overflow: auto;
    padding-bottom: 10px;

}

.categories ul, .manufacturers ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.categories ul ul, .manufacturers ul ul {
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 5px 5px;
}

.categories li.active, .manufacturers li.active {
    background: #FF8;
    border-radius: 5px;
}
.categories .subcategory li.active a {
    color: black;
    font-weight: bold;
}

#float-gallery {
    position: fixed;
    top:0;left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    z-index: 999999;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#float-gallery-background {
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    margin-bottom: -100vh;
}

.float-gallery-center-panel {
    width:95%;
    max-width: 800px;
    max-height: 100vh;
    margin:auto auto;
    padding-top: 20px;
    overflow: auto;
}

#float-gallery-photo {

    height: auto;
    max-height: 60vh;
    max-width: 800px;
    margin:auto auto;
}

#float-gallery-button-close {

}

#float-gallery-button-prev, #float-gallery-button-next, #float-gallery-button-end {
    margin: 5px 5px;
}

#float-gallery-photo-controls {
    background-color: #333333;
}

#float-gallery-photo-title {
    text-align: left;
    padding: 10px 10px;
    background-color: #333333;
    color: #F0F0F0;
    font-weight: bolder;
}

#float-gallery-photo-description {
    text-align: left;
    padding: 10px 10px;
    background-color: #444444;
    color: #DDDDDD;
    font-weight: bolder;
    font-size: smaller;
    margin-bottom: 20px;
}

.wrapper-5vh {
    height: 5vh;
}
.wrapper-10vh {
    height: 15vh;
}
.wrapper-15vh {
    height: 15vh;
}
.wrapper-60vh {
    height: 60vh;
}

.novinka {
    text-transform: capitalize;
    color: #DD0000;
    font-size: 25px;
    font-weight: bold;
}

p.we-recommend {
    color: royalblue;
}

.main-price {
    text-align: center;
    font-size: smaller;
}
.main-price span.including-DPH {
    display:inline-block;
    color: #DD0000;
    font-weight: bolder;
    font-size: larger;
    border-radius: 20px;
    background: #EEDD33;
    padding: 4px 6px;
    border: 2px solid #EEDD33;
    border-top-color: #F8EE44;
    border-bottom-color: #E0D810;
}
.main-price span.without-DPH {
    display: block;
    font-weight: 500;
    color: green;
    margin-bottom: 5px;
    margin-top: 5px;
}

.similar-heading {
    color: #999;
    margin-top: -5px;
}

.recommended-heading {
    color: #D99;
    margin-top: -5px;
}


table.opening-hours {
    border: 2px solid #AAA;
    border-collapse: collapse;
}

table.opening-hours th {
    font-weight: bold;
    background-color: #F0EFE7;
    border-bottom: 1px solid #888;
    padding: 2px 5px;
}

table.opening-hours td {
    border: 1px solid #DDD;
    padding: 2px 5px;
}

.legend {
    font-size: smaller;
    color: #555;
    margin-top: 15px;
}
.legend .glyphicon-thumbs-up {
    color: royalblue;
    font-size: medium;
    top: 3px;
}
a.filter-add {
    font-size: smaller;
    color: silver!important;
    font-weight: 300!important;
    margin-right: 3px;
    letter-spacing: 0.2px;
}
a.filter-rem {
    font-size: smaller;
    color: #9f9f9f !important;
    font-weight: 400!important;
    margin-right: 3px;
}

.top-menu .sale-nav-link {
    background: yellow;
    border-bottom-color: royalblue;
}

.top-menu .sale-nav-link:hover {
    background: orange;
    border-bottom-color: red;
}

.sale-item {
    margin-bottom: 25px;
    border: 5px solid transparent;
    border-radius: 3px;
    padding-top: 10px;
}
.sale-text {
    margin-top: 10px;
}

.sale-photo img{
    width: 100%;
    max-height: 300px;
    border: 6px solid #F0F0EE;
    box-shadow: 0 0 1px rgba(88,88,99,0.4);
}
.sale-photo {
    width: 33%;
    position: relative;
    display: block;
    float: left;
    text-align: center;
    margin: 0px 10px 10px 0;
}

.sale-item-goods {
    padding: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
}
