{block jumbotron}
	<!-- Main component for a primary marketing message or call to action -->
	<div class="container jumbotron-orange">
		<h1 n:block="title">{$article->name}</h1>
	</div>
{/block}

{block content}
	{$article->text|noescape}

{/block}
